<div class="container-fluid">
  <div class="row">
    <div class="btn btn-info form-control" (click)="btnAddValueClick()">
      <span>
        <svg width="1.5rem" height="1.5rem" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
        </svg>
      </span>
      Add New
    </div>
  </div>
  <div class="row">
    <table class="table borderless">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let keyValue of keyValues; index as i">
          <td>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="keyValue.value"/>
            </div>
          </td>
          <td>
            <span (click)="btnChangePosition(i)">
              <svg width="2rem" height="2rem" viewBox="0 0 16 16" class="bi bi-arrow-up-square-fill" fill="#17a2b8" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z" />
              </svg>
            </span>
            <span style="margin-left:10px;" (click)="btnDeleteValue(i)">
              <svg width="2rem" height="2rem" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm9.854 4.854a.5.5 0 0 0-.708-.708L8 7.293 4.854 4.146a.5.5 0 1 0-.708.708L7.293 8l-3.147 3.146a.5.5 0 0 0 .708.708L8 8.707l3.146 3.147a.5.5 0 0 0 .708-.708L8.707 8l3.147-3.146z" />
              </svg>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
